{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{ title }} {% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale('pl') }}
{% endblock %}
{% block navbar %}
    {% include "include/navbar.html" %}
{% endblock %}
{% block content %}
    <div class="container mt-2">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"/>
            </div>
        {% endfor %}
        {% if userName %}
            <h2>Witaj, {{userName}}</h2>
        {% else %}
            <h2>Witaj, nieznajomy</h2>
        {% endif %}
        <form method="post" action="/setSession">
            {{ userForm.hidden_tag() }}
            {{ userForm.userName.label(class_="form-label")}}
            {{ userForm.userName(class_="form-control") }}
            {{ userForm.submit(class_="btn btn-danger") }}
        </form>

    </div>
{% endblock %}